{% extends 'base.html.twig' %}

{% block title %}Hello TaskManagerController!{% endblock %}

{% block body %}
<div class="header">
    <h2>Enter Task</h2>
    <h3>*Note: Added tasks will automatically be labeled "incomplete"</h3>
    <form method="POST" action="{{path('create_task')}}">
        <input name="task_name" type="text" placeholder="i.e. Error Test"/>
        <button type="submit" class="addBtn">Add a task</button>
    </form>
    {# Tasks will go here #}
    <ul>
    {% for task in tasks %}
        <li>
            <span>{{ task.TaskName }}</span>
            <span>{% if task.Incomplete != true %}Incomplete{% endif %}</span>
            <span id="progress">{% if task.Inprogress != true %}Inprogress{% endif %}</span>
            <span id="complete">{% if task.Complete != true %}Complete{% endif %}</span>
            <span><a onclick="changeStatus()" href="{{path('edit_status',{'id':task.id})}}">Edit</a></span>
            <span><a href="{{path('task_delete',{'id':task.id})}}"><button>Delete Task</button></a></span>
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}


